<div class="jumbotron">
    <h1 class="display-4">MEAN STACK Application</h1>
    <p class="lead">This is a simple application using angular 6, nodeJs, Express Framework and MonogoDb</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" routerLink="/register">Register</a>
  </div>
 <div class="container">
        <div class="row">
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/angular.png" alt="AngularJS" style="padding:30px;">
                        <div class="card-body">
                        <h5 class="card-title">AngularJS</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
          </div>
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/node.png" alt="NodeJs" style="padding:30px;">
                        <div class="card-body">
                        <h5 class="card-title">NodeJs</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
          </div>
          <div class="col-sm">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../assets/images/mongo.png" alt="MonogoDb" style="padding:30px;">
                        <div class="card-body">
                        <h5 class="card-title">MonogoDb</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
          </div>
        </div>
 </div>
 <div class="container">
     <div class="row" style="min-height: 50px;background-color:black;margin-top: 30px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6"><h6 class="text-center" style="margin-top: 15px;color:antiquewhite;">All Rights Reserved with A.K.Srivastav(Groupres)</h6></div>
            <div class="col-sm-3"></div>
        
     </div>
 </div>
 
  